.Card {

  margin-top: 30px;
  background: whitesmoke;
  borderRadius: 3;
  width: 450px;
  height: 450px;
  cursor: pointer;
  userSelect: none;
  position: absolute;
  display: flex;
  alignItems: center;
  justifyContent: center;
  top: 0;
}

.img {
  width: 300px;
}

.actions {
  height: 150px;
}