.Cards {
    position: relative;
    width: 400px;
    height: 400px;
}

.Wrapper {
	height: 100%;
	display: flex;
	justifyContent: center;
	alignItems: center;
	width: 100%;
	minHeight: 100vh;
	fontFamily: sans-serif;
	overflow: hidden;
	  padding: 15px;
  width: 40%;
  min-width: 600px;
  max-width: 700px;
  background: #fff;
  position: absolute;
  top: 70%;
  left: 57%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}