.Cards {
    position: relative;
    width: 800px;
    height: 800px;
}

.Wrapper {
	height: 100%;
	display: flex;
	justifyContent: center;
	alignItems: center;
	width: 100%;
	minHeight: 100vh;
	fontFamily: sans-serif;
	overflow: hidden;
}