.nav {
	background-color: #5CB3FF !important;
	border-bottom: 2px solid #F7882F;
	height: 63px;
}

.logo {
	color: white;
	text-decoration: none;
	font-size: 60px;
	padding: 0px 12px;
	 margin-right: 1200px;
}
.accountLogo {
	color: white;
	text-decoration: none;
	font-size: 33px;
	padding: 0px 12px;
	float: right;
   
}
.overviewLogo {
	color: white;
	text-decoration: none;
	font-size: 33px;
	padding: 0px 12px;
}
.signin {
	color: white;
	text-decoration: none;
	font-size: 33px;
	padding: 0px 12px;
}
.landing {
	color: white;
	text-decoration: none;
	font-size: 33px;
	padding: 0px 12px;
}
.menu {
	margin-left: -1px;
	float: left;
}
